<div>
  <link href="./wificomponent.css" rel="stylesheet" />
  <div class="wificomponent-internet1">
    <img
      alt="image21232"
      src="public/playground_assets/image21232-75bn-200h.png"
      class="wificomponent-image2"
    />
    <div class="wificomponent-container">
      <span class="wificomponent-text"><span>Consultório 2.4</span></span>
      <span class="wificomponent-text1"><span>Conectado</span></span>
    </div>
    <img
      alt="Icon1224"
      src="public/playground_assets/icon1224-24oo.svg"
      class="wificomponent-icon"
    />
  </div>
</div>
